---
version: 2
updates:
  - package-ecosystem: "gomod"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"
