node_modules/
bin/
tmp/
_devel/
.ansible/
.vscode/
config.yml
jellysweep
/data/cache/
jellysweep.log
/dist/
completions/
assets/
.github/
.air.toml
.env.example
compose.yml
compose.dev.yml
dev.Dockerfile
release.Dockerfile
LICENSE
README.md
PRODUCTION.md
